#header {
    display: flex;
    justify-content: left;
    align-items: start;
}

#header-buttons {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#product_form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
}
